body
{
	font-family:Arial;
	font-size:16px;
}
table
{
	border-width:1px;
}
.nameVal
{
	width:20%;
	font-size:20px;
	color:blue;
	font-weight:bold;
}
.statusVal
{
	width:30%;
	font-size:20px;
	color:black;
	font-weight:bold;

}
.tempVal
{
	width:20%;
	font-size:20px;
	color:red;
}
.header
{
	font-size:20px;
	color:white;
	background-color: black;
	font-weight:bold;
	height:30px;
}
#refreshBtn
{
	border-width:0px;
	cursor:pointer;
	background-color:#FF5733;
	color:white;
	font-size:18px;
	font-weight:bold;
	height:35px;
	width:100px;
}